.image-container {
    position: relative;
}

.image-container > .img1 {
    width: 100%;
    height: 100%;
}

.image-container > .img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    width: 80%;
}

#historie .carousel-caption {
    background-color:rgba(150, 150, 150, 0.7);
}
#historie .carousel-item {
    height:500px
}

#historie .carousel-item img {
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

.imagesource{
    font-size: 12pt;
}

/* For webkit-based browsers (Chrome, Safari) */
#slider::-webkit-slider-thumb {
    background-color: #ba4c63; /* Change this to the desired color */
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

#slider::-webkit-slider-runnable-track {
    background-color: #cccccc; /* Change this to the desired track color */
}

/* For Firefox */
#slider::-moz-range-thumb {
    background-color: #ba4c63; /* Change this to the desired color */
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

#slider::-moz-range-track {
    background-color: #cccccc; /* Change this to the desired track color */
}

/* For other browsers (may not work in all) */
#slider::-ms-thumb {
    background-color: #ba4c63; /* Change this to the desired color */
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

#slider::-ms-track {
    background-color: #cccccc; /* Change this to the desired track color */
}